
.icon-plus:before { content: '\e800'; } /* '' */
.icon-to-start:before { content: '\e801'; } /* '' */
.icon-to-end:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-pause:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-upload:before { content: '\e807'; } /* '' */